NODE_ENV=test
ENABLE_EXPERIMENTAL_COREPACK=1
LOGGER_LEVEL=log
PORT=3000

POSTGRES_USER=admin
POSTGRES_PASSWORD="secretPass**"
POSTGRES_DB=dbFileExplorer

JWT_SECRET="tu_secreto_super_seguro"


DATABASE_URL="postgresql://admin:secretPass**@postgres:5432/dbFileExplorer?schema=public"

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=tuemail@gmail.com
EMAIL_PASS=contraseña_o_app_password
