NODE_ENV=test
ENABLE_EXPERIMENTAL_COREPACK=1
LOGGER_LEVEL=log
PORT=3000

POSTGRES_USER=admin
POSTGRES_PASSWORD="secretPass**"
POSTGRES_DB=dbFileExplorer

JWT_SECRET="tu_secreto_super_seguro"


DATABASE_URL="postgresql://admin:secretPass**@postgres:5432/dbFileExplorer?schema=public"

FRONTEND_URL="http://paginadeprueba.com/"

EMAIL_USER=nonimus.code@gmail.com
EMAIL_PASS="xufc lxbd gixe hdjm" # clave temporal email para poder ahcer pruebas expira 4 dias





